@charset "utf-8";
@import "reset.css";

#nav {
  font-size: 14px !important;
  width: 100%;
  padding-top: 50px;
}

/* 헤더 푸터 제외한 wrapper 부분 */
#wrapper {
  padding-bottom: 300px;
}

img {
  width: 100%;
}

a:hover {
  color: unset!important;
  text-decoration: none !important;
}

ul {
  margin-bottom: 0 !important;
}

.form-control {
  border-radius: 0 !important;
}

input[type='text'], input[type='email'], input[type='password'], input[type='file'] {
  font-size: 13px;
}

input[type=checkbox], input[type=radio] {
  margin-bottom: 5px;
}

.cate_title {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.cate_title img {
  width: 200px;
}

input:focus, textarea:focus {
  border: 1px solid #76FF03 !important;
  color: #212121;
}

.d-flex {
  display: flex;
}

/********************************/
/****** 이미지 위 아이콘 ********/
/********************************/

.img_wrap {
  position: relative;
}

.img_icon {
  position: absolute;
  left: 0;
  width: 70px;
}

/****** 하트, 북마크 아이콘 ********/
.icon_wrap {
  display: flex;
  margin-top: 10px;
}

.icon_wrap p {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon_wrap img {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}



/********************************/
/*********** Button *************/
/********************************/

button {
  width: 100%;
  padding: .375rem .75rem;
}

/* 버튼 비활성화 일때 */
.button_default:disabled {
  border: 1px solid #DBDBDB;
  background-color: #DBDBDB;
  color: #fff;
}

/* 버튼 활성화 일때 */
.button_default {
  border: 1px solid #76FF03;
  background-color: #76FF03;
  color: #212121;
}

.button_default_border {
  border: 1px solid #212121;
}

.button_default_fill {
  border: 1px solid #212121;
  background-color: #212121;
  color: #fff;
}




/********************************/
/*********** Margin *************/
/********************************/

.m0 { margin: 0 !important; }
.mt05 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }

.mb05 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml05 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.ml50 { margin-left: 50px !important; }
.mr0 { margin-right: 0 !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mr5 { margin-right: 5px !important; }



/********************************/
/********** Padding *************/
/********************************/

.p0 { padding: 0 !important; }
.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }
.pt90 { padding-top: 90px !important; }
.pt100 { padding-top: 100px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb100 { padding-bottom: 100px !important; }

.w100 { width: 100%; }
.h100 { height: 100%; }



/****************************************************************/
/**************************** 반응형 ****************************/
/****************************************************************/

@media only screen and (max-width: 1200px) {
  .cate_title {
    width: 93%;
  }

}


/* Tablet */
@media only screen and (max-width: 992px) {
  .cate_title {
    margin: 0 auto;
  }

  .cate_title img {
    width: 150px;
  }
}

/* Mobile - Landscape */
@media (max-width: 480px) {

}