@charset "utf-8";

body {
  position: relative;
}

#app {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 300px;
  color: #fff;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footer_wrap {
  padding-left: 100px;
}

.footer .footer_wrap p {
  width: 400px;
}

.footer .footer_wrap img {
  width: 100%;
}

.footer .footer_wrap ul {
  padding: 20px 0 5px 0;
  display: flex;
}

.footer .footer_wrap ul li {
  line-height: 24px;
  font-weight: 600;
  padding-right: 15px;
  font-size: 13px;
  cursor: pointer;
}

.footer .footer_wrap span {
  opacity: 0.5;
  font-size: 11px;
}


/****************************************************************/
/**************************** 반응형 ****************************/
/****************************************************************/

@media only screen and (max-width: 1200px) {
  .footer .footer_wrap {
    padding-left: 50px;
  }

  .footer .footer_wrap p {
    width: 300px;
  }
}


/* Mobile - Landscape */
@media (max-width: 480px) {
  .footer .footer_wrap {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }

  .footer .footer_wrap p {
    width: 150px;
  }

  .footer .footer_wrap ul {
    display: block;
    padding-bottom: 20px;
  }

  .footer .footer_wrap ul li {
    display: flex;

  }

  .footer .footer_wrap span {
    display: block;
  }
}
