@charset "utf-8";

.home .brand_content01 .image {
  background: url('../images//home_img03-1.jpg') no-repeat;
  background-size: cover;
}


.home .brand_content02 .image {
  background: url('../images//home_img04-1.jpg') no-repeat;
  background-size: cover;
}


.home {
  width: 100%;
}

.home .swiper {
  width: 100%;
}

.home .swiper-pagination {
  width: 100%;
  position: sticky;
  bottom: 0;
  --swiper-theme-color: #76FF03;
}

.home section {
  margin: 0 auto 180px;
}

.more {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-top: 20px;
  background: url('../images/svg/more_black_line.svg') no-repeat;
  background-size: 100% 100%;
}

.more:hover {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  transition: 0.3s;
  background: url('../images/svg/more_green_full.svg') no-repeat;
  background-size: 100% 100%;
}

.home .title {
  width: 60%;
  margin: 0 auto;
}

.home .title h2 {
  width: 300px;
}

.home h3 {
  font-size: 2rem;
  font-weight: 700;
}

.home h3 span {
  background-color: #76FF03;
}

/********** 베스트 챌린지 **********/
.home section .best_challenge {
  width: 60%;
  margin: 0 auto;
}

.home section .best_challenge ul {
  display: flex;
}

.home section .best_challenge li {
  width: 50%;
  border-top: 1px solid #000;
}

.home section .best_challenge li h3 {
  font-size: 18px;
  padding: 10px 0 0;
}

.home section .best_challenge li:first-child {
  margin-right: 10px;
}

.home section .best_challenge li img {
  padding-top: 15px;
}

.home .best_challenge .icon_wrap img {
  padding-top: 0;
}

.home .best_challenge .heart_icon,
.home .best_challenge .bookmark_icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}


/********** 브랜드 **********/
.home .brand ul {
  width: 100%;
  display: flex;
}

.home .brand ul li {
  flex: 1;
  justify-content: center;
}

.home .brand ul li img {
  width: 300px;
}

.home .brand ul li p {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 0;
}

.home .brand ul li div > span {
  line-height: 24px;
  display: block;
}

.home .brand ul li > div {
  width: 530px;
}

.home .brand .brand_content01 {
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
}

.home .brand .brand_content02 {
  border-bottom: 1px solid #212121;
}

.home .brand .brand_content01 li:nth-child(1),
.home .brand .brand_content02 li:nth-child(1) {
  border-right: 1px solid #212121;
}


/* 브랜드 이미지 */
.home .brand .brand_content01 li:nth-child(1),
.home .brand .brand_content02 li:nth-child(2) {
  background-color: #ccc;
  justify-content: center;
  display: flex
}

/* 브랜드 텍스트 */
.home .brand .brand_content01 li:nth-child(2),
.home .brand .brand_content02 li:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}


/********** 데일리룩 **********/
.home .cate_layout section {
  width: 60%;
}

/********** 이벤트 **********/
.home .event {
  width: 100%;
  height: 300px;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  background-color: #FCFCFC;
}

.home .event ul {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .event ul p {
  padding-top: 10px;
}


/********** 팝업 **********/
.popup {
  width: 300px;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 70px;
  right: 10px;
  cursor: pointer;
}

.popup_btn_wrap {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.popup_btn_wrap button {
  font-size: 12px;
  font-weight: bold;
}


/****************************************************************/
/**************************** 반응형 ****************************/
/****************************************************************/
/* Mobile */
@media only screen and (max-width: 1200px) {
  .home section {
    margin: 0 auto 130px;
  }

  .more {
    width: 120px;
    margin-top: 15px;
  }

  .more:hover, .more:active {
    width: 120px;
  }

  .home .brand h3 {
    font-size: 1.5rem;
  }

  .home .brand ul li p {
    font-size: 1.1rem;
    padding: 5px 0;
  }

  .home .brand ul li > div {
    width: 350px;
  }

  .home .title {
    width: 90%;
  }

  .home .title h2 {
    width: 250px;
  }

  .home section .best_challenge {
    width: 90%;
    margin: 0 auto;
  }

  .home .brand h2 {
    width: 90%;
    margin: 0 auto 20px;
  }

  .home .event h3 {
    font-size: 1.6rem;
  }

  .home .event ul {
    width: 90%;
  }

  .home .cate_layout section {
    width: 90%;
  }

  .home .brand ul li img {
    width: 250px;
  }
}


/* Tablet */
@media only screen and (max-width: 768px) {
  .home section {
    margin: 0 auto 80px;
  }

  .home .best_challenge .img_icon {
    width: 60px;
  }

  .home section .best_challenge li h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .home .best_challenge .heart_icon,
  .home .best_challenge .bookmark_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }


  .home .brand h3 {
    font-size: 1.6rem;
  }

  .home .brand ul {
    display: block;
    border-top: 1px solid #212121;
  }

  .home .brand ul li {
    display: flex;
    flex: auto;
    height: 350px;
    overflow: hidden;
  }

  .home .brand ul li p {
    padding: 5px 0;
  }

  .home .brand ul li div > span {
    line-height: 22px;
  }

  .home .brand .brand_content01 {
    border-bottom: none;
  }

  .home .brand .brand_content02 {
    display: flex;
    flex-direction: column-reverse;
  }

  .home .brand .brand_content01 li:nth-child(1),
  .home .brand .brand_content02 li:nth-child(1) {
    border-right: 0;
  }

  .home .event ul li h3 {
    font-size: 1.3rem;
  }

  .home .brand ul li {
    height: 280px;
  }
}


/* Mobile */
@media (max-width: 480px) {
  .more {
    width: 100px;
  }

  .more:hover, .more:active {
    width: 100px;
  }

  .home .title h2 {
    width: 200px;
  }

  .home section .best_challenge ul {
    display: unset;
  }

  .home section .best_challenge ul li {
    width: 100%;
  }

  .home section .best_challenge li h3 {
    font-size: 16px;
  }

  .brand ul li > div {
    width: 300px;
  }

  .home .event ul {
    width: 90%;
  }

}
