@charset "utf-8";

.login, .join, .find {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  padding-top: 150px;
}

.login a {
  color: #212121;
}

.login_cont,
.find_cont {
  width: 400px;
}

.login .login_cont h3,
.join .join_cont h3 {
  border-bottom: 2px solid #212121;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.join .join_cont h3 p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}

.login .login_cont .login_input ul li input[type="email"],
.login .login_cont .login_input ul li input[type="text"],
.login .login_cont .login_input ul li input[type="password"] {
  width: 100%;
  height: 40px;
  color: #808080;
  border: 1px solid #808080;
}

.login .login_cont .login_input ul li:nth-child(2) {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.login .login_cont .login_input ul li .btn-dark {
  border-radius: 0;
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.login .login_cont .login_process {
  display: flex;
  margin-top: 5px;
}

.login .login_cont .login_process ul li {
  font-size: 12px;
  cursor: pointer;
}

.login .login_cont .login_process ul:nth-child(1) {
  flex-shrink: 0;
  width: 300px;
}

.login .login_cont .login_process ul:nth-child(1) li {
  display: inline-block;
  padding-right: 5px;
}

.login .login_cont .login_process ul:nth-child(2) {
  flex-grow: 1;
  text-align: right;
}

.login .login_cont .login_oauth ul {
  display: flex;
  justify-content: space-around;
}

.login .login_cont .login_oauth ul li {
  width: 40px;
  height: 40px;
  padding-right: 5px;
  cursor: pointer;
}

.login .login_cont .login_oauth ul li img {
  box-shadow: 2px 2px 10px #ccc;
}

.login .login_cont .login_oauth ul li:hover img {
  box-shadow: 2px 2px 10px #ccc;
}

.login .login_cont h5 {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px;
  margin: 70px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #808080;
  font-size: 16px;
}

.join .join_cont {
  width: 400px;
}

.join input {
  accent-color: #76FF03;
}

.join_tab ul {
  display: flex;
  justify-content: space-around;
}

.join_tab ul li {
  background: url('../images/svg/logo_box_opacity.svg') no-repeat;
  height: 23px;
}

.join_tab ul li a {
  padding-left: 13px;
  color: #ccc;
}

.join .router-link-active {
  background: url('../images/svg/logo_box.svg') no-repeat;
  display: block;
  height: 100%;
}

.join .router-link-active a {
  color: #212121;
}


.btn_wrap ul {
  display: flex;
}

.btn_wrap ul li {
  flex: 1 1 50%;
}


.agreement_wrap {
  margin: 40px 0;
}

.agreement_wrap .agreement {
  padding: 20px;
  border: 1px solid #808080;
}

.agreement_wrap .agreement .text_show {
  font-size: 12px;
  color: #808080;
  padding-top: 3px;
  text-decoration: underline;
}

.agreement_wrap .agreement .form-group {
  margin-bottom: 5px;
}

.agreement_wrap .agreement ul li {
  display: flex;
  justify-content: space-between;
}

/* 이용약관 */
div#modal-agree,
div#modal-personal-agree,
div#modal-marketing-agree {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px
}

div#modal-agree___BV_modal_content_,
div#modal-personal-agree___BV_modal_content_,
div#modal-marketing-agree___BV_modal_content_ {
  width: 400px;
  height: 500px;
}

div#modal-agree .modal-body,
div#modal-personal-agree .modal-body,
div#modal-marketing-agree .modal-body {
  font-size: 13px;
  overflow-y: scroll;
}

div#modal-agree .modal-body b,
div#modal-personal-agree .modal-body b,
div#modal-marketing-agree .modal-body b {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.join p {
  font-size: 14px;
  padding-bottom: 5px;
}

p span.circle {
  font-size: 11px;
}

/* id pw 찾기 */
.find ul li {
  display: inline-block;
  border: 1px solid #212121;
  width: 50%;
  height: 40px;
  text-align: center;
  align-items: center;
  line-height: 36px;

}

.find ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #212121;
}

.find .router-link-active {
  display: block;
  height: 100%;
  background-color: #212121;
}

.find .router-link-active a {
  color: #fff !important;
}

.find h6 {
  font-weight: 600;
  margin-top: 20px;
}

.find .btn_wrap p {
  font-size: 12px;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  color: #808080;
}

/********************************/
/********* 마이페이지 ***********/
/********************************/
.myPage .my_info {
  width: 420px;
  margin: 40px auto 100px;
  display: flex;
}

.myPage .my_info .info_left {
  width: 130px;
  height: 130px;
}

.myPage .my_info .info_left img {
  border: 1px solid #212121;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.myPage .my_info .info_right {
  margin-left: 50px;
}

.myPage .my_info .info_right h2 {
  font-weight: 600;
  font-size: 1.7rem;
}

.myPage > section .tab ul {
  border-bottom: 1px solid #ccc;
}

.myPage > section .tab ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #ccc;
}

.myPage > section .tab ul li.active {
  color: #212121;
  border-bottom: 2px solid #212121;
}

.myPage .tab_content {
  margin-top: 30px;

}

.myPage .tab_content .nav-tabs {
  justify-content: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.myPage .tab_content ul li {
  position: relative;
}

.myPage .tab_content ul li .kebab_icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
}

.myPage .tab_content .kebab_dropdown {
  width: 150px;
  height: 71px;
  text-align: center;
  border: 1px solid #212121;
  background-color: #fff;
  position: absolute;
  top: 55px;
  right: 7px;
}

.myPage .tab_content .kebab_dropdown p:nth-child(1) {
  border-bottom: 1px solid #212121;
}

.myPage .tab_content .kebab_dropdown p {
  line-height: 35px;
  height: 35px;
  cursor: pointer;
}

.mypage_edit {
  width: 100%;
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage_edit h2 img {
  width: 150px;
}

.mypage_edit h2 p {
  margin: 10px 0 20px;
  border-bottom: 1px solid #212121;
}

.mypage_edit .wrap {
  width: 400px;
}

.profile_edit .wrap .photo img {
  width: 150px;
}

.profile_edit .wrap .photo {
  text-align: center;
  margin: 20px 0 50px;
}

.profile_edit .wrap .photo button {
  width: 130px;
}

.profile_edit .wrap .photo img {
  display: block;
  margin: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #212121;
}

.profile_edit .wrap textarea {
  width: 100%;
  border: 1px solid #ced4da;
}

.mypage_edit p {
  font-size: 14px;
  padding-bottom: 5px;
}



/****************************************************************/
/**************************** 반응형 ****************************/
/****************************************************************/

@media only screen and (max-width: 1200px) {

}


@media (max-width: 480px) {
  .login, .join, .find {
    width: 95%;
    margin: auto;
    padding: 50px 0;
  }

  .login .login_cont .login_process ul:nth-child(1) {
    width: 200px;
  }

  div#modal-agree,
  div#modal-personal-agree,
  div#modal-marketing-agree {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px
  }

  div#modal-agree___BV_modal_content_,
  div#modal-personal-agree___BV_modal_content_,
  div#modal-marketing-agree___BV_modal_content_ {
    width: 300px;
    height: 400px;
  }

  .myPage .my_info {
    width: auto;
    margin: 20px auto 40px;
    display: block;
  }

  .myPage .my_info .info_left {
    margin: auto;
    text-align: center;
    width: 150px;
  }

  .myPage .my_info .info_left img {
    margin: 10px auto;
    width: 100px;
    height: 100px;
  }

  .myPage .my_info .info_right {
    margin: 40px 0 0;
    text-align: center;
  }

  .myPage .my_info .info_right .icon_wrap {
    display: block;
  }

  .mypage_edit .wrap {
    width: 95%;
  }


}
